includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    level: 6 # set 'max' or '9' to check mixed values
    scanDirectories:
        - src/Imdb/
    tmpDir: tmp/cache/phpstan
    paths:
        - src/Imdb/
    ignoreErrors:
        - '#Construct empty\(\) is not allowed#'
